data
kaldi
kaldi_eg
.idea
notebooks/.ipynb_checkpoints
espnet/tools
__pycache__
*.pyc
espnet/egs/spanish_tedx/asr1/raw_data/
espnet/egs/spanish_tedx/asr1/dump/
espnet/egs/spanish_tedx/asr1/downloads/
espnet/egs/spanish_tedx/asr1/exp/
espnet/egs/spanish_tedx/asr1/fbank
espnet/egs/spanish_tedx/asr1/tensorboard/
espnet_emulation